@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Espaçamento entre os cards */
}

.card {
    flex: 0 1 calc(33.333% - 32px); /* 3 cards por linha, ajustando para o espaçamento */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .card {
        flex: 0 1 calc(50% - 32px); /* 2 cards por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 0 1 100%; /* 1 card por linha em telas muito pequenas */
    }
}
